#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cdCardContainer {
    position: relative;
    width: 300px;

    .cdCardInfo {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.9);
        color: #FFFFFF;
        padding: 30px;
        font-family: 'Lato', sans-serif;

        .cdCardTitle {
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    &:hover .cdCardInfo {
        display: unset;
    }

    .cdPosterImage {
        width: 100%;
        aspect-ratio: 1/1.5;
        overflow: hidden;
    }

}
